.ajaxImg {
    width:16px;
    height:16px;
}
 .rowLavenderStyle {
    background: lavender ;
 }
.rowPinkStyle {
    background: pink ;
}
 .rowKhakiStyle {
     background: khaki  ;
 }
 .rowGrayStyle {
    background: lightgray;
}
.rowGreenStyle {
    background: green;
}
.rowBlueStyle {
    background:blue;
}
.rowLightSeaGreenStyle {
     background:lightseagreen;
 }
.rowLightSkyBlueStyle {
    background:lightskyblue;
}
.rowGreenyellowStyle {
    background: greenyellow;
}
.rowPaleGoldStyle {
    background:palegoldenrod;
}
.rowPaleYellowStyle {
    background: #fff3a1;
}
.rowGoldStyle {
    background: gold;
}
.rowRedStyle {
    background: red;
}
.rowSelectStyle {
    background: yellow;
}
.rowTotalStyle{
    background: green;
}
.inputText_fb {
    font-weight: bold;
}
.inputText_fbtl {
    font-weight: bold;
    text-align: left;
}
.inputText_fbtr {
    font-weight: bold;
    text-align: right;
}
.inputText_bgfbtl {
    background-color:gainsboro;
    font-weight: bold;
    text-align: left;
}
.inputText_bgtl {
    background-color:gainsboro;
    text-align: left;
}
.inputText_bg {
    background-color:gainsboro;
}
.inputText_bgfbtr {
    background-color:gainsboro;
    font-weight: bold;
    text-align: right;
}
.inputText_bgtr {
    background-color:gainsboro;
    text-align: right;
}

/** 下拉框、文本框的风格控制，消除系统默认的边框，从而保持统一的Delphi风格。 */
select {
	font-family: SimSun;
	font-size: 12px;
	border-right: #c4c4c4 1px solid;
	border-top: #999999 1px solid;
	border-left: #999999 1px solid;
	border-bottom: #c4c4c4 1px solid;
	background-color: white;
	/**	height:23px; */
}
/** input的风格控制，消除系统默认的边框，从而保持统一的Delphi风格。 */
input {
	font-family: verdana;
	font-size: 9pt;
	/*border: #9AB8DA 1px solid;	*/
}
textArea {
	font-family: verdana;
	font-size: 9pt;
	/*border: #9AB8DA 1px solid;	*/
}
/* 激活的编辑框 */
.active_editor {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 9pt;
	BORDER-RIGHT: #3672B6 1px solid;
	BORDER-TOP: #3672B6 1px solid;
	BORDER-LEFT: #3672B6 1px solid;
	BORDER-BOTTOM: #3672B6 1px solid;
	SCROLLBAR-ARROW-COLOR: dimgray;
	SCROLLBAR-FACE-COLOR: #D4E2F6;
	SCROLLBAR-HIGHLIGHT-COLOR: #3672B6;
	SCROLLBAR-SHADOW-COLOR: #3672B6;
	SCROLLBAR-3DLIGHT-COLOR: #e9e9e9;
	SCROLLBAR-DARKSHADOW-COLOR: #e9e9e9;
	BACKGROUND-COLOR: #d1dffe;
	/***  added by jdh at 20040210 ***/
	scrollbar-track-color: #eff4fb;
}
.checkbox {
	font-family: SimSun;
	font-size: 12px;
	border-right: #c4c4c4 1px solid;
	border-top: #999999 1px solid;
	border-left: #999999 1px solid;
	border-bottom: #c4c4c4 1px solid;
	border-width: 0px;
}
.text {
	width: 100px;
}
.jg {
	font-family: "宋体";
	font-size: 9px;
}

/** 整体的基本元素，主要是：字体大小颜色，背景颜色等。 */
body {
    font-size: 12px;
    font-family: SimSun;
    color: black;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.bodyBorder {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 0px;
}

form {

}

table {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-collapse: collapse;
    border-right: medium none;
    border-top: medium none;
    font-size: 12px;
    border-left: medium none;
    border-bottom: medium none;
}

table.datapilot {
    cursor: default;
}

table.datapilot button {
    cursor: hand;
    height: 20px;
}

/** 下拉框、文本框的风格控制，消除系统默认的边框，从而保持统一的Delphi风格。 */
select {
    font-family: SimSun;
    font-size: 12px;
    border-right: #c4c4c4 1px solid;
    border-top: #999999 1px solid;
    border-left: #999999 1px solid;
    border-bottom: #c4c4c4 1px solid;
    background-color: white;
}

/** input的风格控制，消除系统默认的边框，从而保持统一的Delphi风格。 */
input {
    font-family: verdana;
    font-size: 9pt;
}

textArea {
    font-family: verdana;
    font-size: 9pt;
}

/* 激活的编辑框 */
.error_activeeditor {
    font-family: verdana;
    font-size: 9pt;
    border: blue 1px solid;
    scrollbar-3dlight-color: #C3D3EA;
    scrollbar-arrow-color: black;
    scrollbar-base-color: #cccccc;
    scrollbar-darkshadow-color: white;
    scrollbar-face-color: #F6F9FE;
    scrollbar-highlight-color: white;
    scrollbar-shadow-color: #C3D3EA;
    scrollbar-track-color: #eff4fb;
}

.checkbox {
    font-family: SimSun;
    font-size: 12px;
    border-right: #c4c4c4 1px solid;
    border-top: #999999 1px solid;
    border-left: #999999 1px solid;
    border-bottom: #c4c4c4 1px solid;
    border-width: 0px;
}

.text {
    width: 100px;
}

tr {
    height: 20px;
}

.divToucss TABLE {
    background-color: #697D96;
    TABLE-LAYOUT: fixed;
}

.divToucss TD {
    OVERFLOW: hidden;
    WHITE-SPACE: nowrap;
}

.divTiSkin {
    WIDTH: 100%;
    background-color: #d4d0c8;
}

.divTiSkin TABLE {
    BORDER-COLLAPSE: collapse;
    TABLE-LAYOUT: fixed;
    word-break: keep-all;
}

.divTiSkin TD {
    PADDING-BOTTOM: 0px;
    OVERFLOW: hidden;
    text-overflow: ellipsis;
    WHITE-SPACE: nowrap;
}

.divBottom {
    OVERFLOW: hidden;
    WIDTH: 100%;
}

.Covert_Button {
    border-right: #c4c4c4 0px solid;
    border-top: #999999 0px solid;
    border-left: #999999 0px solid;
    border-bottom: #c4c4c4 0px solid;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 22px;
    background-image: url(buttonimg.gif);
}

.tdWorkArea {
    PADDING-RIGHT: 12px;
    PADDING-LEFT: 12px;
    PADDING-BOTTOM: 12px;
    PADDING-TOP: 12px
}

.gridOddRow /** 用于在表格体中，奇数行，显示统一效果，包括字体。 */ {
    background-color: white;
}

.gridEvenRow /** 用于在表格体中，偶数行，显示统一效果，包括字体。 */ {
    background-color: white;
}

.gridSelectedHighlight {
    background-color: #FFFF99;
}

.topPage {
}

.bottomPage {
    border-color: #91B1EF;
    background-color: #91B1EF;
    border-top-style: groove;
    border-width: 2px;
}

.leftPage {
    border-color: #91B1EF;
    background-color: #91B1EF;
    border-bottom-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-width: 2px;
}

.borderDataPilot {

}

.borderDataPilot td {

}

.borderDataPilot input {

}

/** 鼠标覆盖时，光标变为手的形状，按钮区域呈整体凸起效果。 */
.buttonGrooveActive {

}

.activeTree {
    background-color: #459ae0;
    color: white;
}

.disbaleTree {
    background-color: transparent;
    color: black;
}

.dropDownTable {
    background-color: #d4d0c8;
    border-color: #919190;
    border-bottom-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-width: 1px;
}

.dropDownHead TD {
    background-image: url(buttonimg.gif);
}

.shellPane /** 工作台区域的最外层边框。 */ {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.whitePane /** 白色作底的面板，通常用于承载目录树和数据表格。 */ {
    background-color: White;
    border-bottom-style: groove;
    border-right-style: groove;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.borderGroove /** 用于在表框等地方产生刻线边框的效果，这种是上下左右四边全刻。 */ {
    border-color: #919190;
    border-bottom-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-width: 1px;
}

.borderGrooveB /** 用于在表框等地方产生刻线边框的效果，这种是只下边。 */ {
    border-color: #cddcf0;
    border-bottom-style: solid;
    border-width: 8px;
}

.borderGrooveT /** 用于在表框等地方产生刻线边框的效果，这种是只上边。 */ {
    border-color: #919190;
    border-top-style: groove;
    border-width: 1px;
}

.borderGrooveL /** 用于在表框等地方产生刻线边框的效果，这种是只左边。 */ {
    border-color: #919190;
    border-left-style: groove;
    border-width: 1px;
}

.borderNone /** 无框。 */ {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

.mouseHoverTextActive /** 鼠标覆盖时，光标变为手的形状，字体颜色改变。*/ {
    cursor: hand;
}

.titleText /** 使用在承载标题的td上。 */ {
    font-size: 15;
    font-weight: bold;
    text-align: left;
    border-width: 2;
    border-bottom-style: groove;
    border-left-style: groove;
    padding-bottom: 2px;
    padding-left: 10px;
}

.titleSpacer {
    filter: Alpha(Opacity = 100, finishX = 75, finishopacity = 0, style = 1)
;
}

.toolBarSplit /** 工具栏上的工具图标的分割竖线：实际上是一个只有右边border的grid。 */ {
    position: relative;
    border-right-style: groove;
    border-bottom-style: none;
    border-left-style: none;
    border-top-style: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
}

.toolBar /** 工具栏（条），用于承载按钮等操作元素。经常使用的是其底边刻线。 */ {
    position: relative;
    border-right-style: none;
    border-bottom-style: groove;
    border-left-style: none;
    border-top-style: none;
    border-width: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/** 鼠标覆盖时，光标变为手的形状，按钮区域呈整体凸起效果。 */
.buttonGrooveActive {
    height: 22px;
    width:80px;
}
/** 按钮区域的不活动状态。字体颜色变为灰色不可用。 */
.buttonGrooveDisable  {
    height: 22px;
    width:80px;
}
/**excel按钮*/
.buttonGrooveDisableExcel {
    height: 22px;
    width:80px;
}

.scrollpane {
    height: 350px;
}

.statusBarText /** 用于显示作为状态信息的文字，通常用在DataGrid的底部和整个系统界面的底部信息栏（条）。 */ {
    padding-left: 5px;
}

.tabTD {
    background-color: #ca0000;
    border-top: black 1px solid;
}

.actTD {
    background-color: #ca0000;
    border-top: black 1px solid;
}

.tabButton {
    background-color: #FFFFFF;
    font-size: 9pt;
    cursor: hand;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

.actButton /** 选中的 */ {
    background-color: #ca0000;
    font-size: 9pt;
    cursor: hand;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

.endTD {
    background-color: white;
    width: 100%;
}

.bg {
    background-repeat: repeat-y;
}

a {
    color: Navy;
    text-decoration: none;
}

a:hover {
    color: Blue;
}

.lbl_right_padding { /*width: 180px; /* 横幅：180ピクセル */
    /*border: none; /* ボ`ダ`：oし */
    border: #C0C0C0 1px solid; /* ボ`ダ`：色SILVER 、1ピクセル、g */
    background-color: #AFBDD0; /* 背景色： (薄青) */
    text-align: right; /* テキストの配置：右寄せ */
    font-size: 9pt; /* フォントの大きさ：9pt */
    padding: 0px 5px 0px 5px;
    color:#525152;
}
/*表示专用，行长度专用*/
.lblWidth {
    width:10%;

}
/* ■表示用　文字列（左） */
.data_input {
    text-align: left; /* テキストの配置：左寄せ */
    background-color: #F5F5F5; /* 背景色：WHITESMOKE */
    border: #C0C0C0 1px solid; /* ボ`ダ`：色SILVER 、1ピクセル、g */
    font-weight: normal; /* フォントの太さ：太字 */
    letter-spacing: 1px; /* 文字g　1px */
    font-size: 9pt; /* フォントサイズ：9ポイント */
}
.data_input_width {
    width:40%;
}

/* ■文字列（表内）左*/
TD.dt_left_padding {
    text-align: left; /* テキストの配置：左 */ /* 2005.03.09 NAKAJIMA CHANGE */
    /*border : #808080 2px solid ;		/* ボ`ダ`：色GRAY、2ピクセル、g */
    /*border: #000000 1px solid; /* ボ`ダ`：色BLACK、1ピクセル、g */
    padding: 0px 5px 0px 5px;
}

/* ■剩ㄖ醒搿パディングなし）<TD>挨酥付 */
TD.dt_center {
    text-align: center; /* テキストの配置：中央 */ /* 2005.03.09 NAKAJIMA CHANGE */
    /*border : #808080 2px solid ;		/* ボ`ダ`：色GRAY、2ピクセル、g */
    /*border: #000000 1px solid; /* ボ`ダ`：色BLACK、1ピクセル、g */
}

/* ■数（表内）右 */
TD.dt_right_padding {
    text-align: right; /* テキストの配置：右 */ /* 2005.03.09 NAKAJIMA CHANGE */
    /*border : #808080 2px solid ;		/* ボ`ダ`：色GRAY、2ピクセル、g */
    /*border: #000000 1px solid; /* ボ`ダ`：色BLACK、1ピクセル、g */
    padding: 0px 5px 0px 5px;
}

.red_star {
    color: #FF0000
}

.inputReadonly { /* Highlighting style */
    background-color: #F5F5F5;
    color: black;
}
